<a href="https://colab.research.google.com/github/wjddn8038/-/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = input('당신의 이름을 입력하시요 >>>')
a

당신의 이름을 입력하시요 >>> 인천

' 인천'

In [4]:
b = input('당신의 나이 >>>')
b

당신의 나이 >>>25

'25'

In [6]:
type(b)

str

In [10]:
c = int(b)
c, type(c)

(25, int)

In [14]:
year = int(input('출생년도를 입력>> '))
print('당신은',year, '년에 태어났군요')
print('당신의 나이는',2020-year+1, '세 입니다')

출생년도를 입력>> 2002
당신은 2002 년에 태어났군요
당신의 나이는 19 세 입니다

**Format**
서식지정자

In [19]:
s= 'a is {}'
s.format('apple')

'a is apple'

In [24]:
a = '%s %d 개 가격은 %.2f 달라'
b = a %('햄버거',2,4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달라
햄버거 2 개 가격은 8.00 달라

In [27]:
#치킨 2마리가격은 40000원
a = '%s %d 개 가격은 %.2d 원'
b = a %('치킨',2,20000*2)
print(a)
print(b)

%s %d 개 가격은 %.2d 원
치킨 2 개 가격은 40000 원